<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Code Roshi</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/locales-all.global.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.11/index.global.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.js" defer></script>
<script src="/dmxAppConnect/dmxCalendar/dmxCalendar.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js" defer></script>
<script src="/dmxAppConnect/dmxVideo/dmxVideo.js" defer></script>
</head>

<body is="dmx-app" id="main">



  <header class="style2">
    <div class="d-flex flex-row justify-content-between">

      <div class="d-flex"><img class="style1" src="/assets/images/CodeRoshi.png" width="100"></div>


      <div class="d-flex">
        <div class="nav align-items-center gap-3">


          <a class="nav-item nav-link" href="/about">About</a>

          <a class="nav-item nav-link" href="/contact">Contact Us</a><a class="nav-item nav-link bg-secondary style4 text-light me-0 px-4" href="/login">Login</a><a class="nav-item nav-link bg-info text-light style3" href="/booking">Get Started</a>
        </div>
      </div>
    </div>



  </header>
  <main is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </main>
  <footer class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col align-self-center style6">
          <img src="/assets/images/CodeRoshi.png" width="100">
          <div class="d-block">
            <p class="text-light"><i class="fas fa-envelope"></i>&nbsp;info@coderoshi.com</p>

          </div>

        </div>
        <div class="col align-self-center">
          <p class="text-end text-light">Privacy Policy</p>
          <p class="text-end text-light">Terms of Service</p>
        </div>

      </div>
    </div>
  </footer>


  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>