<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="booking" appconnect="local" -->
<main class="style5">
    <section class="py-5">
        <div class="container wappler-block">
            <div class="row">
                <div class="text-center pt-5 pb-5 col-lg-10 offset-lg-1 col-xl-10">
                    <h1 class="big-text">Schedule Your Session<br></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Single Session</h4>
                            <p class="card-text fs-2 bg-primary">$64</p>

                            <p class="card-text">
                                One hour of one-on-one tutoring tailored to your leaning needs<br></p>
                            <ul class="text-start">
                                <li>
                                    One-time, flexible scheduling
                                </li>
                                <li>
                                    Personalized, live coding assistance
                                </li>
                            </ul>
                            <a href="#" class="btn btn-info">Book Now</a>
                        </div>
                    </div>



                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">4-Session Pack</h4>
                            <p class="card-text fs-2 bg-primary">$159</p>
                            <p class="card-text">Three one-hour sessions, plus 1 free for a limited time.<br></p>
                            <ul class="text-start">
                                <li>
                                    Four sessions for the price of three.
                                </li>
                                <li>
                                    Use anytime within a month.
                                </li>
                            </ul>
                            <p class="card-text bg-primary p-4">Limited Time Offer!</p><a href="#" class="btn btn-info">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Monthly Subscription</h4>
                            <p class="card-text fs-2 bg-primary">$199</p>
                            <p class="card-text">One session per week with consistent mentor. For a limited time receive a second month free with your monthly subscription.<br></p>
                            <ul class="text-start">
                                <li>Lifetime access to course videos.</li>
                                <li>Consistent weekly check-ins for long term skill building.</li>
                            </ul>
                            <a href="#" class="btn btn-info">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container wappler-block pt-5 pb-5">
            <div class="row align-items-center">
                <div class="col-12 text-center mb-3 col-md-4 text-md-start col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
                    <img width="200" height="200" class="wappler-type-user rounded-circle" src="/assets/images/placeholderhead.jpg">
                </div>
                <div class="col-12 text-center col-md-8 text-md-start col-lg-6 col-xl-5">
                    <h4>Learned So MUCH!</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta arcu sed est tempus, at laoreet neque ultrices. In vitae magna commodo, tincidunt odio nec, sodales nulla.</p>
                    <p class="small text-muted">John Doe, Company Name</p>
                </div>
            </div>
        </div>
    </section>

</main>
<meta name="ac:route" content="/booking">