<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<main>

    <section class="style7">
        <div class="container wappler-block pt-5 pb-5 style8">
            <div class="row">
                <div class="col-12 text-start col">
                    <h1>One on one mentorship</h1>
                    <p class="fs-3">Real coding skills</p>
                    <button class="btn text-light py-2 px-5 btn-info">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container wappler-block mt-5">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Why Code Roshi?</h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-4 align-self-center text-center px-5">

                    <i class="fas fa-people-arrows fa-6x pb-3"></i>
                    <h3>Personalized</h3>
                    <p>One-on-one mentorship tailored to your needs</p>

                </div>
                <div class="col-12 col-md-4 align-self-center text-center px-5">

                    <i class="fas fa-chart-line fa-6x pb-3"></i>
                    <h3>Practical</h3>
                    <p>Learn through hands-on projects and real-world scenarios</p>

                </div>
                <div class="col-12 col-md-4 align-self-center text-center px-5">

                    <i class="fas fa-robot fa-6x pb-3"></i>
                    <h3>AI - Driven</h3>
                    <p>Leverage Ai insights for optimized learning</p>

                </div>
            </div>
        </div>
    </section>


</main>
<meta name="ac:route" content="/">