<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="custom" is="dmx-app" id="login" appConnect="local" -->
<main>
    <div class="container">
        <h1>Login Page</h1>
    </div>
</main>
<meta name="ac:route" content="/login">